<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">{{ set.name }}</h1>
    <p class="lead">question goes here</p>
</div>
    
<div class="container">
    <div clas="row">
        <div class="card-deck text-center col-xs-12 col-lg-7 mx-auto">
            <div class="card mb-1 box-shadow">
                <h4 class="mt-1 font-weight-normal"></h4>
                <div class="card-body">
                    <img [src]="this.cardImg" class="mtg-card mb-3 img-fluid">
                    <button type="button" (click)="nextCard()" [attr.readonly]="this.cardImg === '../../assets/cardback.png'" class="btn btn-outline-primary mx-auto mb-0 col-md-4">
                        Next Card
                    </button>
                </div>
            </div>
        </div>
    <div class="row">
        <button type="button" class="btn btn-outline-primary mx-auto mt-3 col-xs-8 col-lg-3" [routerLink]="['/']">
            Back to Menu
        </button>
    </div>
</div>

</div>