<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">{{ set.name }}</h1>
    <p class="lead">question goes here</p>
</div>
    
<div class="container">
    <div clas="row">
        <div class="card-deck text-center col-5 mx-auto">
            <div class="card mb-1 box-shadow">
                <h4 class="mt-1 font-weight-normal"></h4>
                <div class="card-body"></div>
            </div>
        </div>
    </div>

    <footer class="pt-4 border-top fixed-bottom">
        <div class="col-12 text-center">
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="https://github.com/james-whitehead/mtg-limited-quiz">GitHub</a></li>
                <li><a class="text-muted" href="https://angular.io">Angular</a></li>
                <li><a class="text-muted" href="https://scryfall.com">Scryfall</a></li>
            </ul>
        </div>
    </footer>
</div>